<div class="kategorija">
    <div class="back-to-first dugme" (click)="onClickKategorija('Sport')">
        <fa-icon [icon]="sportIcon"></fa-icon>
        <span>Sport</span>
    </div>
    <div class="back-to-first dugme" (click)="onClickKategorija('Izlet')">
        <fa-icon [icon]="izletIcon"></fa-icon>
        <span>Izlet</span>
    </div>
    <div class="back-to-first dugme" (click)="onClickKategorija('Planinarenje')">
        <fa-icon [icon]="planinarenjeIcon" ></fa-icon>
        <span>Planinarenje</span>
    </div>
    <div class="back-to-first dugme" (click)="onClickKategorija('Turizam')">
        <fa-icon [icon]="turizamIcon"></fa-icon>
        <span>Turizam</span>
    </div>
    <div class="back-to-first dugme" (click)="onClickKategorija('Najnovije')">
        <fa-icon [icon]="najnovijeIcon"></fa-icon>
        <span>Najnovije</span>
    </div>
</div>